.container {
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5rem;
	padding: 1rem 2rem;
	max-width: 70rem;
}

.main {
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5rem;
	padding: 1rem 2rem;
	max-width: 70rem;
}
