.content {
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5rem;
	padding: 1rem 2rem;
	max-width: 70rem;
}

.title {
	border: solid;
	padding-left: 0.5rem;
	border-width: 2px;
	border-radius: 0.5rem;
	line-height: 2.5rem;
}
